.employee-page {
  &__header {
    @include middle-content(70%);
    padding: 3em 0;
    @include flex-container(center);
  }

  &__heading {
    margin-bottom: 0;
    flex: auto;
    text-align: center;
  }

  &__container {
    @include middle-content(70%);
  }

  &__table {
    margin-top: 20px;
  }
}
