.css-menu-page {
  > a {
    display: block;
    min-height: 100vh;
  }

  &__container {
    @include middle-content(70%);
    padding-top: 2em;
  }

  &__header {
    @include flex-container(center);
  }

  &__heading {
    margin-bottom: 0;
    flex: auto;
    text-align: center;
  }

  &__wrapper {
    padding-top: 3em;
  }
}

.toggle-menu {
  margin-top: 1.5em;
  overflow: hidden;

  &__container {
    transform: translateY(-101%);
    transition: all 0.5s;
  }

  &__btn {
    line-height: 20px;
    padding: 5px 10px;
    background-color: grey;
    color: #000;
    display: inline-block;

    &:hover {
      color: #000;
    }

    &--hidden {
      background-color: #000;
      color: #fff;
      display: none;

      &:hover {
        color: #fff;
      }
    }
  }

  &__item {
    width: 200px;
    background-color: #000;
    color: #fff;
    margin-top: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    a {
      display: block;
    }
  }
}

#show-menu:target ~ a[href='#show-menu'] {
  display: none;
}

#show-menu:target ~ a[href=' #'] {
  display: inline-block;
}

#show-menu:target ~ .toggle-menu > .toggle-menu__container {
  transform: translateY(0%);
}
