.home-page {
  &__container {
    @include middle-content(70%);
    padding-top: 10em;
    text-align: center;
  }

  &__heading {
    font-size: 4em;
    margin-bottom: 1em;
  }

  &__wrapper {
    @include flex-container(center, space-evenly);
  }
}
